/**
 * Close tab buttons.
 */
button.sunflower-close-tab {
	padding: 0px;
}

/**
 * Tab title bar.
 */
box.horizontal.sunflower-title-bar {
	border-radius: 0.2em;
	background-color: @theme_unfocused_bg_color;
	color: @theme_unfocused_fg_color;
}

/**
 * Box containing path and mount free space.
 */
box.horizontal.sunflower-title-bar box.vertical {
	padding: 0.1em 0;
	background-color: @theme_unfocused_bg_color;
	color: @theme_unfocused_fg_color;
}

box.horizontal.sunflower-title-bar.selected,
box.horizontal.sunflower-title-bar.selected box.vertical {
	background-color: @theme_selected_bg_color;
	color: @theme_selected_fg_color;
}

box.horizontal.sunflower-title-bar.selected label {
	color: @theme_selected_fg_color;
}

/**
 * Item list.
 */
treeview.sunflower-main-object:selected {
	outline: none;
	background-color: alpha(@theme_selected_bg_color, 0.4);
}

treeview.sunflower-main-object:selected:focus {
	background-color: @theme_selected_bg_color;
}
