/dist export-ignore
/images/*.xcf export-ignore
/translations/*.pot export-ignore
/translations/*/LC_MESSAGES/*.po export-ignore
Makefile export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.hg* export-ignore
.tx export-ignore
.pylintrc export-ignore
